@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: #c24229;
  color: #e1dcc9;
}

.searchBar {
  width: 100%;
  border-radius: 1em;
  border: none;
  font-size: inherit;
  margin: 1em auto;
  padding: .5em 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 3em auto;
}

.map {
  width: 90vw;
  margin: auto;
  border-radius: 1em;
  overflow: hidden;
  margin-bottom: 3em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.map iframe {
  width: 100%;
  height: 100%;
}

#log {
  padding-bottom: 15vh;
}

#log .logModal {
  position: absolute;
  top: 10vh;
  padding: 2em 1em;
  color: #e1dcc9;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 1em;
  text-align: center;
  background-color: #c24229;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#log .logModal h1 {
  margin-bottom: 1em;
}

#log .logModal .close {
  background-color: #c24229;
  color: #e1dcc9;
  border: 2px solid #e1dcc9;
  padding: .5em 1em;
  border-radius: 50%;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#log header {
  background-color: #c24229;
  margin-bottom: 3em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#log .searchResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -2em auto;
  padding-bottom: 2em;
  position: absolute;
}

#log .searchResult li {
  padding-bottom: 1em;
}

#log .searchResult p {
  width: 20vw;
  text-align: left;
  cursor: pointer;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #e1dcc9;
  border-radius: 1em;
  padding: .2em 1em;
}

#log .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2em auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

#log .menus .menu {
  padding: 1em;
  width: 45%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 1em;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#log .menus .menu:hover {
  background-color: #c24229;
}

#log .menus .menu-cost {
  font-weight: bold;
  font-size: 1.5em;
}

#log .menus .menu-cost, #log .menus .menu-title {
  text-align: left;
}

#log .menus .menu .food-image {
  margin-bottom: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
  height: 15em;
}

#log .menus .menu img {
  height: 100%;
  margin: auto;
}

#foodMatching {
  background-color: #c24229;
  color: #e1dcc9;
  padding-top: 3em;
  padding-bottom: 15vh;
}

#foodMatching .map {
  margin-top: 2em;
  width: 100%;
  margin-bottom: -1em;
}

#foodMatching #foodModal {
  max-width: 800px;
  width: 90vw;
  position: fixed;
  background-color: #c24229;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#foodMatching #foodModal li {
  margin-bottom: 2em;
}

#foodMatching #foodModal .close {
  background-color: #c24229;
  color: #e1dcc9;
  border: 1px solid #e1dcc9;
  padding: .5em 1em;
  border-radius: 1em;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#foodMatching #foodModal .actions {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#foodMatching #foodModal .actions a {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #e1dcc9;
  color: #17395c;
  padding: .5em 1em;
  border-radius: 1em;
  font-weight: bold;
}

#foodMatching #foodModal .actions .next,
#foodMatching #foodModal .actions .prev {
  background-color: #c24229;
  color: #e1dcc9;
  border: 1px solid #e1dcc9;
}

#stat {
  padding-bottom: 15vh;
  padding-top: 3em;
}

#stat .food-card {
  margin-top: 2em;
  background-color: #e1dcc9;
}

#stat .food-image {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1em;
  overflow: hidden;
  height: 5em;
  width: 5em;
  margin: auto;
}

#stat img {
  height: 100%;
  width: auto;
}

.food-card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  border-radius: 1em;
  color: #17395c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food-card .food-title {
  border-right: 1px solid #17395c;
  padding: 1em 2em;
  width: 40%;
}

.food-card .food-title p {
  font-weight: bold;
}

.food-card .food-title .food-image {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1em;
  overflow: hidden;
  height: 8em;
}

.food-card .food-title img {
  height: 100%;
  width: auto;
}

.food-card .food-information {
  text-align: left;
  padding: 1em 2em;
  width: 60%;
}

.food-card .food-information li {
  margin: 0 !important;
}

.food-card img {
  width: 100%;
}

.container {
  width: 85vw;
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.type,
.delivery {
  margin-top: 3em;
}

.type h1,
.delivery h1 {
  color: #17395c;
  background-color: #e1dcc9;
  width: 100%;
  border-radius: 1em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.type ul,
.delivery ul {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.type ul li,
.delivery ul li {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  width: 48%;
  font-weight: bold;
  border-radius: 1em;
  padding: .5em 1em;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 2px solid white;
  color: white;
}

.type ul li:hover,
.delivery ul li:hover {
  background-color: white !important;
  color: #17395c !important;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

li.active {
  background-color: white;
  color: #17395c !important;
}

.type li:first-child {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.confirmBtn {
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  font-size: 1em;
  border: none;
  background-color: #17395c;
  color: #e1dcc9;
  font-weight: bold;
  padding: .5em 1em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#profile {
  padding-bottom: 15vh;
}

#profile header {
  padding: 3em;
  background-color: #c24229;
  width: 100vw;
  text-align: center;
}

#profile header h1 {
  margin-bottom: 1em;
  color: #e1dcc9;
}

#profile img {
  height: 10em;
  border-radius: 50%;
  background-color: #e1dcc9;
}

#profile .username {
  color: #e1dcc9;
  margin-top: 1em;
}

#profile table {
  border-collapse: collapse;
  margin: 1em auto;
  width: 100%;
  text-align: left;
}

#profile table td {
  padding: .5em 1em;
}

#profile table tr td:first-child {
  font-weight: bold;
}

#profile .editBtn {
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  font-size: 1em;
  border: none;
  background-color: #17395c;
  color: #e1dcc9;
  font-weight: bold;
  padding: .5em 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#profile .logout {
  margin-top: 2em;
  background-color: darkred;
}

#contact {
  padding-bottom: 15vh;
}

#contact .check {
  color: green;
}

#contact .button {
  background-color: #c24229;
  color: #e1dcc9;
  padding: .5em 1em;
  border-radius: 1em;
}

#contact .minus {
  opacity: .3;
  color: darkred;
  margin-left: .5em;
}

#contact .myFriend {
  padding-left: 1em;
  margin: 1em;
}

#contact .searchFriend {
  border-radius: 1em;
  border: 2px solid #17395c;
  margin: 0 1em;
  padding: .2em 1em;
}

#contact header {
  padding: 3em;
  background-color: #c24229;
  width: 100vw;
  text-align: center;
}

#contact header h1 {
  margin-bottom: 1em;
  color: #e1dcc9;
}

#contact table {
  width: 100%;
  text-align: left;
  padding-bottom: 2em;
}

#contact table td:first-child {
  text-align: center;
}

#contact table strong {
  cursor: pointer;
}

#contact .profileImage {
  width: 10%;
}

#contact img {
  height: 2em;
}

#main footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background-color: #e1dcc9;
}

#main footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#main footer ul li {
  font-size: 3em;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.isActive {
  color: #c24229;
}

#login-signup header {
  background-color: #c24229;
  height: 20vh;
  text-align: center;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#login-signup header .logo {
  margin: auto;
  height: 100%;
}

#login-signup .btn {
  text-align: center;
}

#login-signup .input {
  width: 100%;
  padding: .5em 0;
  border: none;
  border-bottom: 2px solid #17395c;
  margin-bottom: 1.5em;
}

#login-signup .age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #17395c;
}

#login-signup .age input, #login-signup .age select {
  border: none;
}

#login-signup .age input {
  text-align: center;
}

#login-signup .age select {
  border-left: 1px solid #17395c;
  border-right: 1px solid #17395c;
}

#login-signup .age .day {
  width: 20%;
}

#login-signup .age .month {
  width: 60%;
}

#login-signup .age .year {
  width: 20%;
}

#login-signup .loginModal {
  max-width: 600px;
  position: absolute;
  top: 20vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 2em;
  width: 50vw;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#login-signup .loginModal #submit {
  background-color: #c24229;
  width: 100%;
  margin-top: 1em;
  color: #e1dcc9;
  font-weight: bold;
  padding: .5em 0;
  border: none;
  border-radius: 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#login-signup .loginModal p {
  text-align: right;
  text-decoration: underline;
  color: lightgrey;
}

#login-signup .loginModal .login_signUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e1a194;
  width: 80%;
  margin: auto;
  border-radius: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #c24229;
  overflow: hidden;
  margin-bottom: 1em;
}

#login-signup .loginModal .login_signUp .btn {
  width: 50%;
  text-align: center;
}

#login-signup .loginModal .login_signUp .btn.active {
  border-radius: 1em;
  border: 2px solid #c24229;
  background-color: #c24229;
}

#login-signup footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#prefer {
  padding-bottom: 15vh;
}

#prefer header {
  background-color: #c24229;
  text-align: center;
  color: #e1dcc9;
  padding: 1em;
  margin-bottom: 3em;
}

#prefer .btn {
  background-color: #c24229;
  padding: .5em 1em;
  border-radius: 1em;
  color: #e1dcc9;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#prefer .flex {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 1em 0 3em;
  gap: 1em;
}

#prefer .flex li {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  background-color: #e1dcc9;
  color: #17395c;
  border-radius: 1em;
  padding: .5em 1em;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

#prefer .flex li:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #c24229;
  color: #e1dcc9;
}

#prefer .flex li.active {
  background-color: #c24229;
  color: #e1dcc9 !important;
}

@media only screen and (max-width: 600px) {
  #main #foodMatching .confirmBtn {
    margin-bottom: 15vh;
  }
  #main #foodMatching a {
    font-size: .8em;
  }
  #main footer {
    font-size: .8em;
  }
}
/*# sourceMappingURL=main.css.map */