@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

body {
  padding-bottom: 15vh;
}

li {
  list-style: none;
}

.searchBar {
  width: 100%;
  border-radius: 1em;
  border: none;
  font-size: inherit;
  margin: 1em auto;
  padding: .5em 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 3em auto;
}

#main header {
  background-color: #c24229;
  margin-bottom: 3em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#main .map {
  width: 90vw;
  margin: auto;
  border-radius: 1em;
  overflow: hidden;
  margin-bottom: 3em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#main .map iframe {
  width: 100%;
  height: 100%;
}

#main .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#main .menus .active {
  background-color: #c24229;
  color: #e1dcc9;
}

#main .menus .menu {
  padding: 1em;
  width: 45%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 1em;
}

#main .menus .menu-cost {
  font-weight: bold;
  font-size: 1.5em;
}

#main .menus .menu-cost, #main .menus .menu-title {
  text-align: left;
}

#main .menus .menu img {
  width: 80%;
  margin: auto;
}

#footMatching {
  background-color: #c24229;
  color: #e1dcc9;
  height: 100vh;
  padding: 3em auto;
}

.container {
  width: 85vw;
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.type,
.delivery {
  margin-top: 3em;
}

.type h1,
.delivery h1 {
  color: #17395c;
  background-color: #e1dcc9;
  width: 100%;
  border-radius: 1em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.type ul,
.delivery ul {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.type ul li,
.delivery ul li {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  width: 48%;
  background-color: white;
  color: #17395c;
  font-weight: bold;
  border-radius: 1em;
  padding: .5em 1em;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.type ul li:hover,
.delivery ul li:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.type li:first-child {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.confirmBtn {
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  font-size: 1em;
  border: none;
  background-color: #17395c;
  color: #e1dcc9;
  font-weight: bold;
  padding: .5em 1em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#profile header {
  padding: 3em;
  background-color: #c24229;
  width: 100vw;
  text-align: center;
}

#profile header h1 {
  margin-bottom: 1em;
  color: #e1dcc9;
}

#profile img {
  height: 10em;
  border-radius: 50%;
}

#profile .username {
  color: #e1dcc9;
  margin-top: 1em;
}

#profile table {
  border-collapse: collapse;
  margin: 1em auto;
  width: 100%;
  text-align: left;
}

#profile table td {
  padding: .5em 1em;
}

#profile table tr td:first-child {
  font-weight: bold;
}

#profile .editBtn {
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  font-size: 1em;
  border: none;
  background-color: #17395c;
  color: #e1dcc9;
  font-weight: bold;
  padding: .5em 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#contact .addFriend {
  background-color: #e1dcc9;
  padding-left: 1em;
}

#contact .myFriend {
  padding-left: 1em;
  margin-bottom: 1em;
}

#contact header {
  padding: 3em;
  background-color: #c24229;
  width: 100vw;
  text-align: center;
}

#contact header h1 {
  margin-bottom: 1em;
  color: #e1dcc9;
}

#contact table {
  width: 100%;
  text-align: left;
}

#contact table td:first-child {
  text-align: center;
}

#contact img {
  height: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background-color: #e1dcc9;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer ul li {
  font-size: 3em;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */