@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;600&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.active {
  background-color: #c24229;
  color: #e1dcc9;
}

.searchBar {
  width: 100%;
  border-radius: 1em;
  border: none;
  font-size: inherit;
  margin: 1em auto;
  padding: .5em 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 3em auto;
}

.map {
  width: 90vw;
  margin: auto;
  border-radius: 1em;
  overflow: hidden;
  margin-bottom: 3em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.map iframe {
  width: 100%;
  height: 100%;
}

#log {
  padding-bottom: 15vh;
}

#log header {
  background-color: #c24229;
  margin-bottom: 3em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#log .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#log .menus .menu {
  padding: 1em;
  width: 45%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 1em;
}

#log .menus .menu-cost {
  font-weight: bold;
  font-size: 1.5em;
}

#log .menus .menu-cost, #log .menus .menu-title {
  text-align: left;
}

#log .menus .menu img {
  width: 80%;
  margin: auto;
}

#foodMatching {
  background-color: #c24229;
  color: #e1dcc9;
  padding-top: 3em;
  padding-bottom: 15vh;
}

#foodMatching .map {
  margin-top: 2em;
  width: 70vw;
  margin-bottom: -1em;
}

#foodMatching #foodModal {
  max-width: 800px;
  width: 90vw;
  position: fixed;
  background-color: #c24229;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#foodMatching #foodModal li {
  margin-bottom: 2em;
}

#foodMatching #foodModal .close {
  background-color: #c24229;
  color: #e1dcc9;
  border: 1px solid #e1dcc9;
  padding: .5em 1em;
  border-radius: 1em;
  font-weight: bold;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#foodMatching #foodModal .actions {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#foodMatching #foodModal .actions a {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #e1dcc9;
  color: #17395c;
  padding: .5em 1em;
  border-radius: 1em;
  font-weight: bold;
}

#foodMatching #foodModal .actions .next,
#foodMatching #foodModal .actions .prev {
  background-color: #c24229;
  color: #e1dcc9;
  border: 1px solid #e1dcc9;
}

#stat {
  padding-bottom: 15vh;
  padding-top: 3em;
}

#stat .food-card {
  margin-top: 2em;
  background-color: #e1dcc9;
}

#stat .food-image {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1em;
  overflow: hidden;
  height: 5em;
  width: 5em;
  margin: auto;
}

#stat img {
  height: 100%;
  width: auto;
}

.food-card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  border-radius: 1em;
  color: #17395c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food-card .food-title {
  border-right: 1px solid #17395c;
  padding: 1em 2em;
  width: 40%;
}

.food-card .food-title p {
  font-weight: bold;
}

.food-card .food-title .food-image {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 1em;
  overflow: hidden;
  height: 8em;
}

.food-card .food-title img {
  height: 100%;
  width: auto;
}

.food-card .food-information {
  text-align: left;
  padding: 1em 2em;
  width: 60%;
}

.food-card .food-information li {
  margin: 0 !important;
}

.food-card img {
  width: 100%;
}

.container {
  width: 85vw;
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.type,
.delivery {
  margin-top: 3em;
}

.type h1,
.delivery h1 {
  color: #17395c;
  background-color: #e1dcc9;
  width: 100%;
  border-radius: 1em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.type ul,
.delivery ul {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.type ul li,
.delivery ul li {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  width: 48%;
  font-weight: bold;
  border-radius: 1em;
  padding: .5em 1em;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 2px solid white;
  color: white;
}

.type ul li:hover,
.delivery ul li:hover {
  background-color: white !important;
  color: #17395c !important;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

li.active {
  background-color: white;
  color: #17395c !important;
}

.type li:first-child {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.confirmBtn {
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  font-size: 1em;
  border: none;
  background-color: #17395c;
  color: #e1dcc9;
  font-weight: bold;
  padding: .5em 1em;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#profile {
  padding-bottom: 15vh;
}

#profile header {
  padding: 3em;
  background-color: #c24229;
  width: 100vw;
  text-align: center;
}

#profile header h1 {
  margin-bottom: 1em;
  color: #e1dcc9;
}

#profile img {
  height: 10em;
  border-radius: 50%;
  background-color: #e1dcc9;
}

#profile .username {
  color: #e1dcc9;
  margin-top: 1em;
}

#profile table {
  border-collapse: collapse;
  margin: 1em auto;
  width: 100%;
  text-align: left;
}

#profile table td {
  padding: .5em 1em;
}

#profile table tr td:first-child {
  font-weight: bold;
}

#profile .editBtn {
  cursor: pointer;
  width: 100%;
  border-radius: 1em;
  font-size: 1em;
  border: none;
  background-color: #17395c;
  color: #e1dcc9;
  font-weight: bold;
  padding: .5em 1em;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#profile .logout {
  margin-top: 2em;
  background-color: darkred;
}

#contact {
  padding-bottom: 15vh;
}

#contact .myFriend {
  padding-left: 1em;
  margin: 1em;
}

#contact .searchFriend {
  border-radius: 1em;
  border: 2px solid #17395c;
  margin: 0 1em;
  padding: .2em 1em;
}

#contact header {
  padding: 3em;
  background-color: #c24229;
  width: 100vw;
  text-align: center;
}

#contact header h1 {
  margin-bottom: 1em;
  color: #e1dcc9;
}

#contact table {
  width: 100%;
  text-align: left;
}

#contact table td:first-child {
  text-align: center;
}

#contact table strong {
  cursor: pointer;
}

#contact .profileImage {
  width: 10%;
}

#contact img {
  height: 2em;
}

#main footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 100vw;
  background-color: #e1dcc9;
}

#main footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#main footer ul li {
  font-size: 3em;
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.isActive {
  color: #c24229;
}

#login-signup * {
  font-size: 1.2em;
}

#login-signup .dot {
  position: relative;
  top: -400px;
  left: -100px;
  height: 700px;
  width: 700px;
  background-color: #C24229;
  border-radius: 50%;
}

#login-signup .logo {
  position: relative;
  top: -800px;
  left: -150px;
  width: 100px;
}

#login-signup .food {
  position: relative;
  top: -800px;
  width: 400px;
  opacity: 0.1;
}

#login-signup .login-box {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 374px;
  height: 500px;
  margin: auto;
  -webkit-box-shadow: 0px 4px 8px -48px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 8px -48px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border: 1px solid #BAB7B7;
  border-radius: 17px;
  position: relative;
}

#login-signup .space {
  margin: 56px;
}

#login-signup .login-sign {
  position: absolute;
  width: 225px;
  height: 27px;
  left: 72px;
  top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #BE0127;
  background: #F8E0A0;
  border: 1px solid #BE0127;
  border-radius: 17px;
}

#login-signup .sign-login {
  position: absolute;
  width: 225px;
  height: 27px;
  left: 72px;
  top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #BE0127;
  background: #F8E0A0;
  border: 1px solid #BE0127;
  border-radius: 17px;
  font-weight: bold;
}

#login-signup .login {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 128px;
  height: 28px;
  left: -1px;
  top: 0px;
  background: #BE0127;
  border: 1px solid #BE0127;
  color: #FFFFFF;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  font-weight: bold;
}

#login-signup .login2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 35px;
}

#login-signup .sign {
  position: absolute;
  width: 128px;
  height: 28px;
  left: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-signup .sign2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 128px;
  height: 28px;
  left: 98px;
  top: 0px;
  background: #BE0127;
  border: 1px solid #BE0127;
  color: #FFFFFF;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

#login-signup .username {
  position: absolute;
  width: 300px;
  height: 17px;
  left: 27px;
  top: 100px;
  color: #766F6F;
}

#login-signup .password {
  position: absolute;
  width: 300px;
  height: 17px;
  left: 27px;
  top: 160px;
  color: #766F6F;
}

#login-signup .confirmpassword {
  position: absolute;
  width: 300px;
  height: 17px;
  left: 27px;
  top: 220px;
  color: #766F6F;
}

#login-signup .gender {
  position: absolute;
  width: 300px;
  height: 17px;
  left: 27px;
  top: 280px;
  color: #766F6F;
}

#login-signup .age {
  position: absolute;
  width: 300px;
  height: 17px;
  left: 27px;
  top: 340px;
  color: #766F6F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login-signup .age input {
  width: 30%;
  padding: 1em .5em;
  border: none;
  background-color: none;
}

#login-signup .age select {
  width: 40%;
  height: 2em;
  border: none;
  background-color: none;
}

#login-signup .forgot {
  position: absolute;
  width: 300px;
  height: 17px;
  right: 45px;
  top: 220px;
  text-align: right;
}

#login-signup .buttonlogin {
  position: absolute;
  width: 128px;
  height: 28px;
  left: 120px;
  top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #BE0127;
  border: 1px solid #BE0127;
  color: #FFFFFF;
  border-radius: 17px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-signup .backgroudbox {
  position: relative;
  top: 50px;
  left: 10px;
  height: auto;
  width: auto;
  max-width: 350px;
  max-height: 350px;
  opacity: 0.1;
}

#login-signup .buttonContinue {
  position: absolute;
  width: 128px;
  height: 28px;
  left: 120px;
  top: 420px;
  background: #BE0127;
  border: 1px solid #BE0127;
  color: #FFFFFF;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#login-signup .login-box:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#login-signup .container {
  padding: 2px 16px;
}

#login-signup .pizzaleft {
  width: 300px;
}

#login-signup .hamberger {
  position: absolute;
  right: -30px;
  width: 200px;
}

#login-signup footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  #main #foodMatching .confirmBtn {
    margin-bottom: 15vh;
  }
  #main #foodMatching a {
    font-size: .8em;
  }
  #main footer {
    font-size: .8em;
  }
}
/*# sourceMappingURL=main.css.map */