<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale= " />
    <title>EATCISION</title>
    <link rel="apple-touch-icon" sizes="57x57" href="./favicons">
    <link rel="apple-touch-icon" sizes="60x60" href="./favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
    <link rel="manifest" href="./favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
        <div v-if="loggedIn" id="main">
            <div v-if="active === 'foodMatch'" id="foodMatching">
                <div id="foodModal" v-if="showFood">
                    <header>
                        <h1 class="animate__animated animate__zoomIn">IT'S A MATCH !</h1>
                    </header>

                    <div class="container">
                        <ul>
                            <li>
                                <div class="food-card animate__animated animate__zoomIn">
                                    <div class="food-title">
                                        <p>{{recFood.name}}</p>
                                        <div class="food-image">
                                            <img :src="'./img/foods/' + recFood.food[0].image" />
                                        </div>
                                    </div>
                                    <div class="food-information">
                                        <p>
                                            <strong>Restaurant's Name: </strong> <br />
                                            {{recFood.name}}
                                        </p>
                                        <p>
                                            <strong>Recommended Menu: </strong> <br />
                                        <ul>
                                            <li v-for="food in recFood.food">{{food.name}}</li>
                                        </ul>
                                        </p>
                                        <div class="rating">
                                            <strong>Rating: </strong>
                                            <i v-for="index in recFood.rating" class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a href="#" class="prev" @click="counter++"><i
                                            class="fa-solid fa-chevron-left"></i></a>
                                    <a href="#" class="call">CALL</a>
                                    <a :href="recFood.location" target="_blank" class="direction">GET DIRECTION</a>
                                    <a href="#" class="next" @click="counter--"><i
                                            class="fa-solid fa-chevron-right"></i></a>
                                </div>
                                <a href="#" class="close" @click="showFood=false"><i class="fa-solid fa-xmark"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <h1>Food Matching</h1>
                    <div class="type">
                        <h1>1</h1>
                        <ul>
                            <li class="active" @click="showFood = true">
                                SURPRISE ME
                            </li>
                            <li @click="one='newFood'" v-bind:class="{active: one==='newFood'}">NEW FOOD</li>
                            <li @click="one='foodYouLove'" v-bind:class="{active: one==='foodYouLove'}">FOOD YOU LOVE
                            </li>
                        </ul>
                    </div>

                    <div class="delivery">
                        <h1>2</h1>
                        <ul>
                            <li @click="two='delivery'" v-bind:class="{active: two==='delivery'}">DELIVERY</li>
                            <li @click="two='dineOut'" v-bind:class="{active: two==='dineOut'}">DINE OUT</li>
                        </ul>
                    </div>

                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1494.3843281230068!2d100.52378743491248!3d13.721284899771629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298cdd9e5bd05%3A0x1e206241cb063178!2sSethiwan%20Tower!5e0!3m2!1sen!2sth!4v1654293442008!5m2!1sen!2sth"
                            style="border: 0" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <input class="searchBar" type="search" name="searchFood" id="searchFood"
                        placeholder="🔍 Search your favorite food/location . . ." />
                    <input class="confirmBtn" type="button" value="CONFIRM" @click="showFood=true" />
                </div>
            </div>

            <div v-else-if="active === 'profile'" id="profile">
                <header>
                    <h1>Profile</h1>
                    <img :src="'https://avatars.dicebear.com/api/pixel-art/'+User.username +'.svg'" alt="profile-img"
                        class="profileImg" />
                    <p class="username"><strong>@{{User.username}}</strong></p>
                </header>
                <div class="profile-information container">
                    <table>
                        <tr>
                            <td>Email</td>
                            <td>No email specify</td>
                        </tr>
                        <tr>
                            <td>Date of Birth</td>
                            <td>{{User.dob.day}} {{User.dob.month}} {{User.dob.year}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{User.gender}}</td>
                        </tr>
                        <tr>
                            <td>Food Allergies/Prohibited Foods</td>
                            <td>{{User.allergies}}</td>
                        </tr>
                        <tr>
                            <td>Menu Preferences</td>
                            <td>{{User.preferences}}</td>
                        </tr>
                    </table>

                    <div class="editBtn">EDIT</div>
                    <div class="editBtn logout" @click="signOut">SIGN OUT</div>
                </div>
            </div>

            <div v-else-if="active === 'contact'" id="contact">
                <header>
                    <h1>Contacts</h1>
                </header>

                <h1 class="myFriend">My Friends</h1>

                <div class="container">
                    <table>
                        <tr>
                            <td></td>
                            <td>
                                <strong @click="showFriend=!showFriend">Add Friend <i
                                        class="fa-solid fa-user-plus"></i></strong>
                                <input v-model="username" v-if="showFriend" class="searchFriend" type="search"
                                    placeholder="Search by user ID">
                                <i v-if="showFriend" class="fa-solid fa-magnifying-glass btn"
                                    @click="friendList.push('@'+username); username=''; showFriend=false"></i>
                            </td>
                        </tr>
                        <tr class="btn" v-for="user in friendList"
                            @click="selectedFriend.includes(user) ? selectedFriend=selectedFriend.filter((u) => u != user) : selectedFriend.push(user)">
                            <td class="profileImage">
                                <img :src="'https://avatars.dicebear.com/api/pixel-art/'+ user +'.svg'"
                                    alt="profile-img">
                            </td>
                            <td class="username">
                                {{user}}
                                <i v-if="selectedFriend.includes(user)" class="fa-solid fa-circle-check check"></i>
                                <i v-if="selectedFriend.includes(user)" class="fa-solid fa-circle-minus minus"></i>
                            </td>
                        </tr>
                    </table>
                    <div @click="active='foodMatch'">
                        <a class="btn button" v-if="selectedFriend.length>5">START FOOD FESTIVAL!</a>
                        <a class="btn button" v-else-if="selectedFriend.length>2">START FOOD PARTY!</a>
                        <a class="btn button" v-else-if="selectedFriend.length>0">EATING TIME!</a>
                    </div>
                </div>
            </div>

            <div v-else-if="active === 'log'" id="log">
                <div class="logModal animate__animated animate__fadeIn animate__faster" v-if="showLog">
                    <h1>Information Saved Succesfully</h1>
                    <a href="#" class="close" @click="showLog=false"><i class="fa-solid fa-xmark"></i></a>
                </div>
                <header>
                    <div class="container">
                        <input v-model="res" class="searchBar" type="search" name="searchFood" id="searchFood"
                            placeholder="🔍 Search for restaurant. . ." />

                        <ul v-if="res !== ''" class="searchResult">

                            <li @click="res=restaurant.name" class="animate__animated animate__fadeIn"
                                v-for="restaurant in filterRecFood">
                                <p v-if="res!=restaurant.name">
                                    {{restaurant.name}}
                                </p>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1494.3843281230068!2d100.52378743491248!3d13.721284899771629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298cdd9e5bd05%3A0x1e206241cb063178!2sSethiwan%20Tower!5e0!3m2!1sen!2sth!4v1654293442008!5m2!1sen!2sth"
                        style="border: 0" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="container animate__animated animate__bounceIn"
                    v-if="res !== '' & filterRecFood.length != 0">
                    <h1>MENU</h1>
                    <div class="menus">
                        <div class="menu btn" @click="selectedFood=food"
                            v-bind:class="{active: food.name==selectedFood.name}" v-for="food in filterRecFood[0].food">
                            <div class="food-image">
                                <img :src="'./img/foods/'+food.image" alt="food-image" />
                            </div>
                            <p class="menu-title ">{{food.name}}</p>
                            <p class="menu-cost">0000THB</p>
                        </div>
                    </div>
                    <input @click="showLog=true; res=''" class="confirmBtn" type="button" value="CONFIRM" />
                </div>
            </div>

            <div v-else-if="active === 'stat'" id="stat">
                <div class="container">
                    <h1>Your Stat</h1>

                    <div class="food-card" v-for="food in recommendFood">
                        <div class="food-title">
                            <p>{{food.food[0].name}}</p>
                            <div class="food-image">
                                <img :src="'./img/foods/' + food.food[0].image" />
                            </div>
                        </div>
                        <div class="food-information">
                            <p>
                                <strong>Restaurant's Name: </strong> <br />
                                {{food.name}}
                            </p>
                            <p><strong>Count: </strong> {{food.count}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div v-else-if="active === 'prefer'" id="prefer">
                <header>
                    <h1>What would you like to eat?</h1>
                </header>

                <div class="container">

                    <h2>Nationalities</h2>
                    <ul class="nationalities flex">
                        <li v-bind:class="{active: selectedPrefer.includes(item)}"
                            @click="selectedPrefer.includes(item) ? selectedPrefer=selectedPrefer.filter(i => i !== item) : selectedPrefer.push(item)"
                            v-for="item in preferences.nationalities">{{item}}</li>
                    </ul>

                    <h2>Types of Food</h2>
                    <ul class="tof flex">
                        <li v-bind:class="{active: selectedPrefer.includes(item)}"
                            @click="selectedPrefer.includes(item) ? selectedPrefer=selectedPrefer.filter(i => i !== item) : selectedPrefer.push(item)"
                            v-for="item in preferences.tof">{{item}}</li>
                    </ul>

                    <h2>Price</h2>
                    <ul class="price flex">
                        <li v-bind:class="{active: selectedPrefer.includes(item)}"
                            @click="selectedPrefer.includes(item) ? selectedPrefer=selectedPrefer.filter(i => i !== item) : selectedPrefer.push(item)"
                            v-for="item in preferences.price">{{item}}</li>
                    </ul>

                    <a href="#" class="btn" @click="active='foodMatch'">FEED ME!</a>
                </div>
            </div>

            <footer>
                <ul>
                    <li @click="active='contact'" v-bind:class="{isActive: active==='contact'}">
                        <i class="fa-solid fa-address-book"></i>
                    </li>
                    <li @click="active='stat'" v-bind:class="{isActive: active==='stat'}">
                        <i class="fa-solid fa-chart-line"></i>
                    </li>
                    <li @click="active='foodMatch'" v-bind:class="{isActive: active==='foodMatch'}">
                        <i class="fa-solid fa-utensils"></i>
                    </li>
                    <li @click="active='log'" v-bind:class="{isActive: active==='log'}">
                        <i class="fa-solid fa-clipboard-list"></i>
                    </li>
                    <li @click="active='profile'" v-bind:class="{isActive: active==='profile'}">
                        <i class="fa-solid fa-user"></i>
                    </li>
                </ul>
            </footer>
        </div>

        <div v-else id="login-signup">

            {{data}}
            <header>
                <img class="logo" src="./img/logo.png"></img>
            </header>

            <div id="login" v-if="active==='login'">
                <div class="loginModal">
                    <div class="login_signUp">
                        <div v-bind:class="{active: active=='login'}" class="btn" @click="active='login'">Log In</div>
                        <div v-bind:class="{active: active=='signUp'}" class="btn" @click="active='signUp'">Sign Up
                        </div>
                    </div>
                    <div class="login-information">
                        <input class="input" type="text" placeholder="Username" v-model="loginForm.username">
                        <input class="input" type="password" placeholder="Password" v-model="loginForm.password">
                        <p>Forgot Password?</p>
                        <input @click="loggedIn=true; active='prefer'" id="submit" class="btn" type="submit"
                            value="Log In">
                    </div>
                </div>
            </div>

            <div v-else-if="active==='signUp' || active==='signUp2'">
                <div class="loginModal">
                    <div class="login_signUp">
                        <div v-bind:class="{active: active=='login'}" class="btn" @click="active='login'">Log In</div>
                        <div v-bind:class="{active: active=='signUp' || active=='signUp2'}" class="btn"
                            @click="active='signUp'">Sign Up
                        </div>
                    </div>

                    <div class="signUp-information" v-if="active=='signUp'">
                        <input class="input" v-model="CreatedUser.username" id="username"
                            placeholder="Username"></input>
                        <input class="input" v-model="CreatedUser.password" id="password" type="password"
                            placeholder="Password" />
                        <input class="input" id="password" type="password" placeholder="Confirm Password" />
                        <input class="input" v-model="CreatedUser.gender" id="password" type="password"
                            placeholder="Gender" />
                        <div class="age">
                            <input type="text" placeholder="Day" v-model="CreatedUser.dob.day" class="day">
                            <select class="month" name="month" id="month" v-model="CreatedUser.dob.month">
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                            <input class="year" v-model="CreatedUser.dob.year" type="text" placeholder="Year">
                        </div>
                        <input id="submit" class="btn" @click="active='signUp2'" value="Continue" />
                    </div>


                    <div class="signUp-information" v-else-if="active=='signUp2'">
                        <input class="input" v-model="CreatedUser.allergies"
                            placeholder="Allergies / Prohibited food"></input>
                        <input class="input" v-model="CreatedUser.preferences" type="text"
                            placeholder="Prefered Menu" />
                        <input class="input" type="text" placeholder="Disliked menus" />
                        <input class="input" type="text" placeholder="Prefered Restaurant" />
                        <input class="input" type="text" placeholder="Disliked Restaurant" />
                        <input id="submit" class="btn" @click="active='login'" value="Sign Up" />
                    </div>
                </div>
            </div>

            <footer style="height: 150px;">
                <img class="pizzaleft"
                    src="https://s3-alpha-sig.figma.com/img/c933/cd04/519aa6551efc28b7caef92d8e4c7e9bd?Expires=1655078400&Signature=QW6ZBnZBLmZMzh0piXyXDfGfH0OLQxSmb6lxohuIu-3u53QKw5wykI0j0gtGkU5ADrXB0dlWJ2okTHZHrI7clSmzEnP3Bntwuq57eiDOXr9ke0~LZM797VhAKlSw6NCgeCHIRAUiXSQmjwO-pepd9fXTVLtTvLy4aaCHn~~4nNngx-cfwgFJ6tx9R9GGrevcEtn~u64ecRs24S7XbclKtH7nK~eRuXfBcuUgEQAxgvt8NJl9POb1YsWfxyrzc2cDpS4lZGcZpBm4keGpoUpyCBKEADn~90lg8v2bJDTib~joz0jQZoU84g3a1T6-vfg0MdcPwNVprjKcmOSEsqhTtQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"></img>
                <img class="hamberger"
                    src="https://s3-alpha-sig.figma.com/img/36d9/3bd3/58d5eeb12f0c2882f37be5cba4ac3b08?Expires=1655078400&Signature=YUugnqFCnpkAE8Ystu2sziH5A9mxMsMh~wXJXI03AuEzNf99pvOr8m9PSKiQObYnzHGhQF6zWwzrVnOaSsjm~u2OZX4mOaGRSaUvEi0qpTpsdtvlL1WoQ-tzfIQbB5CXbdohaWZjO29Q8OyRwyfE7pP9-joJF1tZhPZZ0OXaJlwq-XUoLVvfodme811-4c3orEaxTmBMWTHQyKu-D8olY8xIfqJmtp~E2nLJLFZybAU1oRCWiSwXoEeKXs-jtCR7y5331yFATX0AKBlWVbsWIoiwKmBO5FPeU3vUKNZb3rLjadzoHP7oHpWTtABpqooyaBjquAvta040P7BQq0aVaw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"></img>
            </footer>
        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/user.js"></script>
    <script src="./js/food.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>