<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale= " />
    <title>กินไรยัง?</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>

    <div id="app">
      <div v-if="loggedIn" id="main">
        <div v-if="active === 'foodMatch'" id="foodMatching">
          <div class="container">
            <h1>Food Matching</h1>
            <div class="type">
              <h1>1</h1>
              <ul>
                <li>SURPISE ME</li>
                <li>NEW FOOD</li>
                <li>FOOD YOU LOVE</li>
              </ul>
            </div>

            <div class="delivery">
              <h1>2</h1>
              <ul>
                <li>DELIVERY</li>
                <li>DINE OUT</li>
              </ul>
            </div>

            <input
              class="searchBar"
              type="search"
              name="searchFood"
              id="searchFood"
              placeholder="🔍 Search your favorite food. . ."
            />
            <input class="confirmBtn" type="button" value="CONFIRM" />
          </div>
        </div>

        <div v-else-if="active === 'profile'" id="profile">
          <header>
            <h1>Profile</h1>
            <img
              src="./img/placeholder.png"
              alt="profile-img"
              class="profileImg"
            />
            <p class="username">@yourCoolUsername</p>
          </header>
          <div class="profile-information container">
            <table>
              <tr>
                <td>Email</td>
                <td>mail@mail.com</td>
              </tr>
              <tr>
                <td>Date of Birth</td>
                <td>1 January 1999</td>
              </tr>
              <tr>
                <td>Gender</td>
                <td>Female</td>
              </tr>
              <tr>
                <td>Food Allergies/Prohibited Foods</td>
                <td>Seafood</td>
              </tr>
              <tr>
                <td>Menu Preferences</td>
                <td>Fried Chicken</td>
              </tr>
            </table>

            <div class="editBtn">EDIT</div>
          </div>
        </div>

        <div v-else-if="active === 'contact'" id="contact">
          <header>
            <h1>Contacts</h1>
          </header>

          <h1 class="addFriend">Add Friend</h1>
          <h1 class="myFriend">My Friends</h1>

          <div class="container">
            <table>
              <tr>
                <td><img src="./img/placeholder.png" /></td>
                <td class="username">@janeDoe</td>
                <td>/</td>
              </tr>
              <tr>
                <td><img src="./img/placeholder.png" /></td>
                <td class="username">@jamesK</td>
                <td>/</td>
              </tr>
              <tr>
                <td><img src="./img/placeholder.png" /></td>
                <td class="username">@Scoot</td>
                <td>/</td>
              </tr>
            </table>
          </div>
        </div>

        <div v-else-if="active === 'log'" id="log">
          <header>
            <div class="container">
              <input
                class="searchBar"
                type="search"
                name="searchFood"
                id="searchFood"
                placeholder="🔍 Search your favorite food. . ."
              />
            </div>
          </header>
          <div class="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1494.3843281230068!2d100.52378743491248!3d13.721284899771629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e298cdd9e5bd05%3A0x1e206241cb063178!2sSethiwan%20Tower!5e0!3m2!1sen!2sth!4v1654293442008!5m2!1sen!2sth"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="container">
            <h1>MENU</h1>
            <div class="menus">
              <div class="active menu">
                <img src="./img/placeholder.png" alt="burger" />
                <p class="menu-title">Chicken Burger</p>
                <p class="menu-cost">100THB</p>
              </div>
              <div class="menu">
                <img src="./img/placeholder.png" alt="burger" />
                <p class="menu-title">Double Cheesy Burger</p>
                <p class="menu-cost">150THB</p>
              </div>
            </div>
            <input class="confirmBtn" type="button" value="CONFIRM" />
          </div>
        </div>

        <footer>
          <ul>
            <li @click="active='contact'">👥</li>
            <li>📊</li>
            <li @click="active='log'">🍴</li>
            <li @click="active='foodMatch'">🍛</li>
            <li @click="active='profile'">👤</li>
          </ul>
        </footer>
      </div>

      <div v-else id="login">
        <h1>Login Page</h1>
        <p>{{title}}</p>
      </div>
    </div>

    <script src="./js/main.js"></script>
  </body>
</html>
